<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/prject/1">Project 1</a></li>
        <li><a href="/prject/2">Project 2</a></li>
        <li><a href="/prject/3">Project 3</a></li>
        <li><a href="/prject/4">Project 4</a></li>
    </ul>
    <br>
    
    <h3>Add new project</h3>

    <form action="/add/task/{{project_id}}" method="POST">
        <div>
            Task: <input type="text" name="task-description">
        </div>
        <br>
        <input type="submit" value="Add Task">
    </form>

</body>
</html>